App_WebReferences/LoginRegistrationServiceReference/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49884/LoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49884/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49884/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_RegisterVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVenue" />
  </wsdl:message>
  <wsdl:message name="ILoginService_RegisterVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterVenueResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_VenueLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:VenueLogin" />
  </wsdl:message>
  <wsdl:message name="ILoginService_VenueLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:VenueLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NewAddShow_InputMessage">
    <wsdl:part name="parameters" element="tns:NewAddShow" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NewAddShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewAddShowResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NewAddArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:NewAddArtist" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NewAddArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewAddArtistResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NewRegisterFan_InputMessage">
    <wsdl:part name="parameters" element="tns:NewRegisterFan" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NewRegisterFan_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewRegisterFanResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_FanLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FanLogin" />
  </wsdl:message>
  <wsdl:message name="ILoginService_FanLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FanLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_AddFanArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFanArtist" />
  </wsdl:message>
  <wsdl:message name="ILoginService_AddFanArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFanArtistResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="RegisterVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/RegisterVenue" message="tns:ILoginService_RegisterVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/RegisterVenueResponse" message="tns:ILoginService_RegisterVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VenueLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/VenueLogin" message="tns:ILoginService_VenueLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/VenueLoginResponse" message="tns:ILoginService_VenueLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewAddShow">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/NewAddShow" message="tns:ILoginService_NewAddShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/NewAddShowResponse" message="tns:ILoginService_NewAddShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewAddArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/NewAddArtist" message="tns:ILoginService_NewAddArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/NewAddArtistResponse" message="tns:ILoginService_NewAddArtist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewRegisterFan">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/NewRegisterFan" message="tns:ILoginService_NewRegisterFan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/NewRegisterFanResponse" message="tns:ILoginService_NewRegisterFan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FanLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/FanLogin" message="tns:ILoginService_FanLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/FanLoginResponse" message="tns:ILoginService_FanLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFanArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/AddFanArtist" message="tns:ILoginService_AddFanArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/AddFanArtistResponse" message="tns:ILoginService_AddFanArtist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterVenue">
      <soap:operation soapAction="http://tempuri.org/ILoginService/RegisterVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VenueLogin">
      <soap:operation soapAction="http://tempuri.org/ILoginService/VenueLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewAddShow">
      <soap:operation soapAction="http://tempuri.org/ILoginService/NewAddShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewAddArtist">
      <soap:operation soapAction="http://tempuri.org/ILoginService/NewAddArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewRegisterFan">
      <soap:operation soapAction="http://tempuri.org/ILoginService/NewRegisterFan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FanLogin">
      <soap:operation soapAction="http://tempuri.org/ILoginService/FanLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFanArtist">
      <soap:operation soapAction="http://tempuri.org/ILoginService/AddFanArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="http://localhost:49884/LoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>