App_WebReferences/Website2Reference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51467/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfShowLite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowLite" nillable="true" type="tns:ShowLite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowLite" nillable="true" type="tns:ArrayOfShowLite" />
  <xs:complexType name="ShowLite">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShowDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" type="ser:duration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowLite" nillable="true" type="tns:ShowLite" />
  <xs:complexType name="ArrayOfShowArtistLite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowArtistLite" nillable="true" type="tns:ShowArtistLite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowArtistLite" nillable="true" type="tns:ArrayOfShowArtistLite" />
  <xs:complexType name="ShowArtistLite">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShowDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" type="ser:duration" />
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowArtistLite" nillable="true" type="tns:ShowArtistLite" />
</xs:schema>